---
import LanguageIcon from "./LanguageIcon.astro";
import { iconosStack } from "../../data/proyectos.ts";

interface Props {
	seccion: string;
}

const { seccion } = Astro.props
---

<div class="flex justify-evenly items-center my-2">
    {
      iconosStack.map((icono) => {
        if (icono.section === seccion) {
          return (
            <LanguageIcon
              href={icono.href}
              iconName={icono.icono}
              className={icono.className}
            />
          );
        }
      })
    }
</div>