---
import Layout from "../layouts/Layout.astro";
import QuienSoy from "../components/QuienSoy.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
import Navbar from "../components/Navbar.astro";
import FlotatingButton from "../components/Navbar/FlotatingButton.astro"

---

<Layout title="Mirko Pasten">
	<!-- <span id="quien-soy"></span> -->
	<FlotatingButton/>
	<Navbar/>
	<QuienSoy />
	<Proyectos />
	<Contacto />
</Layout>
