---
import Layout from '../layouts/Layout.astro';
import Leftbar from '../components/Navbar.astro'

---

<div class=" min-h-dvh flex flex-col justify-center items-center gap-10">
    <div class="flex">
        <div class="flex flex-col items-center">
            <label for="">X axis</label>
            <input type="range" name="" id="rangoX">
            <small id="smallX">50</small>
        </div>
        <div class="flex flex-col items-center">
            <label for="">Y axis</label>
            <input type="range" name="" id="rangoY">
            <small id="smallY">50</small>
        </div>
        <div class="flex flex-col items-center">
            <label for="">Z axis</label>
            <input type="range" name="" id="rangoZ">
            <small id="smallZ">50</small>
        </div>
    </div>
    <div id="cuadrado"class="bg-red-500 h-20 w-20 flex justify-evenly items-center">
        <div class="bg-yellow-400 h-10 w-5">

        </div>
        <div class="bg-yellow-400 h-10 w-5">

        </div>
    </div>
</div>

<script>

const imagen = document.querySelector("#cuadrado") as HTMLInputElement
    
imagen?.addEventListener('mousemove', (e) => {
	let top = imagen.offsetTop;
	let left = imagen.offsetLeft;
	let ancho = imagen.clientWidth
	let alto = imagen.clientHeight

	let relativeX = (e.pageX - left)
	let relativeY = (e.pageY - top)

	if (relativeX >= ancho / 2 && relativeY >= alto / 2) {
		imagen.style.transform = "rotate3d(-1,-1,0,30deg)"
	}
			
	if (relativeX <= ancho / 2 && relativeY >= alto / 2) {
		imagen.style.transform = "rotate3d(1,-1,0,30deg)"
	}

	if (relativeX >= ancho / 2 && relativeY <= alto / 2) {
		imagen.style.transform = "rotate3d(-1,1,0,30deg)"
	}

	if (relativeX <= ancho / 2 && relativeY <= alto / 2) {
		imagen.style.transform = "rotate3d(1,1,0,30deg)"
	}
		})


    // let cuadrado = document.querySelector(".rotated")
    let rangeX = document.querySelector("#rangoX") as HTMLInputElement
    let rangeY = document.querySelector("#rangoY") as HTMLInputElement
    let rangeZ = document.querySelector("#rangoZ") as HTMLInputElement

    // let smallX = document.querySelector("#smallX")
    let smallX = document.querySelector("#smallX") as HTMLInputElement
    let smallY = document.querySelector("#smallY") as HTMLInputElement
    let smallZ = document.querySelector("#smallZ") as HTMLInputElement

    
    rangeX?.addEventListener("input", (e) => {
        smallX!.innerHTML = rangeX.value
    })
    rangeY?.addEventListener("input", (e) => smallY!.innerHTML = rangeY.value)
    rangeZ?.addEventListener("input", (e) => smallZ!.innerHTML = rangeZ.value)
    
    // console.log(rangeX.value, rangeY.value, rangeZ)
    // cuadrado?.style.transform
</script>

<style>
</style>