---

---

<section
    id="contacto"
    class="h-[100vh] flex flex-col justify-center items-center bg-black snap-center text-white"
>
    <div class="z-10">
        <h1 class="text-4xl">Contactame!</h1>
        <div>Puedes encontrarme en mi redes sociales</div>
    </div>
</section>
