---
import FormularioContacto from "./Contacto/FormularioContacto.astro"
---

<section
    id="contacto"
    class="h-[100vh] flex flex-col justify-center items-center bg-black text-white"
>
    <div class="z-10 bg-slate-950 p-30">
        <FormularioContacto/>
    </div>
</section>
