---
---

<nav class="flex absolute lg:h-full lg:w-auto w-full h-auto z-20">
    <ul class="bg-secondary backdrop-blur-xl my-auto p-2 px-2 max-lg:rounded-b-lg lg:rounded-e-lg flex lg:flex-col mx-auto lg:mx-0">
        <li class="nav_links p-1 lg:p-2 m-1">
            <a href="/#quien-soy">
                <img class="invert-icon h-8" src="/icons/profile-icon.png" alt="" />
            </a>
        </li>
        <li class="nav_links p-1 lg:p-2 m-1">
            <a href="/#proyectos">
                <img class="invert-icon h-8" src="/icons/layers-icon.png" alt="" />
            </a>
        </li>
        <li class="nav_links p-1 lg:p-2 m-1">
            <a href="/#contacto">
                <img class="invert-icon h-8" src="/icons/contact-icon.png" alt="" />
            </a>
        </li>
        <li class="nav_links p-1 lg:p-2 m-1">
            <a href="/game">
                <img class="invert-icon h-8" src="/icons/play-icon.png" alt="" />
            </a>
        </li>
    </ul>
</nav>

<style>
    .nav_links {
        border-radius: 100%;
        overflow: hidden;
    }

    .selected-link {
		outline: 2px solid rgb(var(--primary-color));
		transform: scale(0.9);
	}
</style>