---

---

<section id="proyectos" class="h-[100vh] bg-slate-400 snap-center grid grid-rows-12 grid-cols-12">
    <div class="row-span-6 col-span-12">
        <div class="">
            JAJA
        </div>
    </div>
    <div class="row-span-6 col-span-12">
        <div class="">
            Hola
        </div>
    </div>
</section>