---
import ProjectCard from "./ProjectCard.astro"
import { proyectosDisponibles } from "../data/proyectos.ts"

---

<section id="proyectos" class="min-h-[100vh] bg-slate-400 snap-center grid grid-rows-auto grid-cols-12 place-items-center gap-10 p-5 md:p-10 lg:p-12 xl:p-16 2xl:p-24">
    {
        proyectosDisponibles.map(proyecto => 
            <div class="row-span-3 col-span-12 lg:col-span-6 z-10">
                <ProjectCard proyecto={proyecto}/>
            </div>
        )
    }
</section>