---
import ExpositorIconos from "./QuienSoy/ExpositorIconos.astro";
---

<section id="quien-soy" class="min-h-[100vh] grid grid-cols-12 pt-20 lg:pt-0">
  <div class="col-start-2 col-span-10 z-10 my-auto">
    <div
      class="flex max-lg:flex-col lg:flex justify-center items-center bg-white-transparent rounded-tl-[70px] backdrop-blur-sm p-4 px-8"
    >
      <div class="ps-0 lg:ps-16">
        <h1 class="text-2xl lg:text-lg xl:text-xl 2xl:text-2xl text-center font-bold">Mirko Pasten Carcamo</h1>
        <img class=" h-auto max-h-96 lg:max-h-60 pb-4 mx-auto" src="/images/mirko-pasten-lite-removebg.png" alt=""/>
        <h2 class="text-2xl lg:text-lg xl:text-xl 2xl:text-2xl text-center font-bold">
          Desarrollador Fullstack
        </h2>
      </div>
      <div class="my-auto text-center lg:px-8 lg:w-4/5">
        <p class="font-bold text-3xl me-2 mt-8 lg:mt-0">¡Hola!</p>
        <p class="font-light text-md xl:text-lg px-16 xl:px-24 my-4">
          Soy un apasionado desarrollador web con experiencia en el desarrollo de
          aplicaciones tanto front-end como back-end, me enfoco en ofrecer
          productos que no solo cumplan con las expectativas técnicas, sino que
          también proporcionen una experiencia de usuario fluida y atractiva.
        </p>
        <div class="flex justify-center">
          <a href="/CV-Mirko-Pasten.pdf" download>
            <img class="invert-icon h-12" src="/icons/pdf-icon.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="py-10 lg:py-2">
      <ExpositorIconos seccion="front-end"/>
      <ExpositorIconos seccion="back-end"/>
    </div>
    <div
      class="bg-white-transparent backdrop-blur-sm rounded-ee-[70px] text-center p-4 z-10"
    >
      <div class="max-lg:flex-col lg:flex justify-center">
        <div class="flex-1 p-4">
          <h3 class="font-bold text-xl">Front-end</h3>
          <p class="p-4 font-light">
          Diseño de páginas web con Bootstrap, Tailwind y CSS puro.
          <br>
          Aplicaciones con NextJS y React para la gestión de una tienda.
          <br>
          He utilizado Astro + Typescript para la landing page de mi portafolio.
          <br>
          Juegos como el gato, battleship y Galaga con Javascript y Typescript.
          </p>
        </div>
        <div class="flex-1 p-4">
          <h3 class="font-bold text-xl">Back-end</h3>
          <p class="p-4 font-light">
            He diseñado bases de datos para mis proyectos con Python y PostgreSQL.
            <br>
            Consultas SQL y CRUD a bases de datos de PostgreSQL.
            <br>
            He servido de datos mediante REST APIs con Python + Flask + SQL Alchemy.
            <br>
            También Modelos Vista Templates con Django como framework backend.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
