---

---

<h1 class="text-4xl">Contactame!</h1>
<div>Puedes hacerlo através del siguiente formulario.</div>
<form id="contactForm">
  <div class="">
    <label for="from_name">Nombre</label>
    <input type="text" name="from_name" id="from_name" class="text-black" />
  </div>
  <div class="">
    <label for="message_id">Correo</label>
    <input type="text" name="message_id" id="message_id" class="text-black" />
  </div>
  <div class="">
    <label for="message">Mensaje</label>
    <textarea name="message" id="message" class="text-black" rows="5"
    ></textarea>
  </div>

  <button
    type="submit"
    id="buttonForm"
    class="md:flex w-44 h-8 rounded-lg justify-center items-center bg-amber-50 text-xl font-light text-black link_custom"
  >
  Enviar Correo
  </button>
</form>
