---
import Stars from '../components/GlobalStyles.astro';
import '@fontsource-variable/roboto-slab';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Stars/>
		<slot />
	</body>
</html>

<style is:global>
	:root{
		color-scheme: light dark;
		--primary-color: white;
		--secondary-color: black;
		--base-color: rgba(148, 163, 184, 0.1);
		--accent-base-color: rgba(100, 116, 139, 1);
	}
	html {
		font-family: 'Roboto Slab Variable', serif;
	}
	.bg-white-transparent {
		background-color: rgba(255, 255, 255, 0.1);
	}

</style>
